/* ===== LIGHT MODE ===== */

body.light-mode{
  background:#f5f5f7;
  color:#1d1d1f;
}

/* ===== DARK MODE ===== */

body.dark-mode{
  background:#0d0d0d;
  color:#ffffff;
}

/* CARDS */

body.dark-mode .profile-card,
body.dark-mode .wallet-card,
body.dark-mode .edit-card{
  background:#1c1c1e;
  color:white;
}

/* INPUT */

body.dark-mode input,
body.dark-mode select{
  background:#2c2c2e;
  color:white;
  border:1px solid #444;
}

/* BOXES */

body.dark-mode .info-box,
body.dark-mode .bank-display{
  background:#2c2c2e;
}

/* BUTTON */

body.dark-mode .btn-success,
body.dark-mode .save-btn,
body.dark-mode .deposit-btn{
  background:#0a84ff;
}

body.dark-mode .btn-warning,
body.dark-mode .withdraw-btn{
  background:#3a3a3c;
  color:white;
}

/* TOGGLE BUTTON */

.theme-toggle{
  position:fixed;
  top:20px;
  right:20px;
  z-index:999;
}

.theme-toggle button{
  padding:8px 14px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}